<div>
    <prs-head [pageTitle]="pageTitle"></prs-head>
    <div id="leftdiv">
    <br>
    <h6>The Capstone (PRS) Purchase Request System by Josh Scott</h6><br>
    <p id="ptop"><span>Hello! My name is Josh Scott and I want to personally thank you for visiting my PRS Web API.</span><br>
        I hope you enjoyed browsing the system, the functionality, and the design.
    </p>
    <br>
    <p id="pbody"><span>
        I personally wrote every single line of code and designed every element you see, even though the design is a little bit basic.
        &nbsp;This was designed and built during the maximum coding bootcamp at Max Technical Training.
        &nbsp;Where I learned C# & Java for the backend connecting to SQL or MySQL for the database, and Angular for the frontend with 
        HTML, CSS, & JavaScript/Typescript.
        &nbsp;I hope this shows my excitement for creating and building projects. 
        &nbsp;I've always enjoyed working on projects in my spare time, 
        but often ran into roadblocks attempting to complete the functionality I desired. 
        &nbsp;After taking the bootcamp I made a big step towards creating these projects and have begun working on learning more.
    </span> 
    </p>
    <br>
    <p id="pbody1">    
        &nbsp;I know I still have a lot to learn, but this is the beginning of an exciting journey!
    </p> 
    </div>
    <div id="rightdiv">
        <img src="/assets/MeCaving2.jpg">
    </div>
</div>
